#application {

  @media only screen and (min-width: 0px) and (max-width: 1000px) {
    margin: 0 !important;
  }

  @media only screen and (min-width: 1000px) {
    margin: 15px !important;
  }

  #top {
    background-color: rgb(220, 220, 220);
    border-radius: 1vw 1vw 0 0;
    margin: 0;
    padding: 20px 20px;
    //Tablet screen and rotate mobile screen
    @media only screen and (max-width: 959px) {
      align-content: center;
      padding: 5px 5px;
    }
    //Mobile screen
    @media only screen and (max-width: 599px) {
      align-content: center;
      padding: 5px 5px;
    }

    #logo {
      //Tablet screen and rotate mobile screen
      @media only screen and (max-width: 959px) {
        width: 100%;
        //padding: auto auto;
      }
      //Mobile screen
      @media only screen and (max-width: 599px) {
        width: 100%;
        //padding: auto auto;
      }

      .logo-card {
        max-width: 300px !important;
        margin: 40px 20px !important;

        @media only screen and (min-width: 0px) and (max-width: 320px) {
          width: 250px !important;
          margin: 40px 0px !important;
        }

        @media only screen and (min-width: 320px) and (max-width: 415px) {
          width: 270px !important;
          margin: 40px 0px !important;
        }

        @media only screen and (min-width: 415px) and (max-width: 750px) {
          width: 270px !important;
          margin: 40px 0px !important;
        }

        @media only screen and (min-width: 415px) and (max-width: 568px) {
          width: 270px !important;
          margin: 40px 0px !important;
        }
      }
    }

    #logIn {
      padding: 10px 20px;
      font-size: 16px;
      float: right;
      //Tablet screen and rotate mobile screen
      @media only screen and (max-width: 959px) {
        padding: 0;
        margin: 0px 42%;
        max-width: 123px;
      }
      //Mobile screen
      @media only screen and (max-width: 599px) {
        padding: 0;
        margin: 0px 33%;
        max-width: 123px;
      }
    }

    #navigationBar {
      background-color: transparent !important;
      padding: 0 !important;

      .naivationTabs {
        height: 64px !important;
        width: 150px !important;

        &:focus {
          outline-color: transparent !important;
        }
      }

      .activeTab {
        border-bottom: 2px solid rgb(20, 120, 180) !important;
      }
    }
  }

  #bottom {
    padding: 20px 20px;
    background-color: rgb(20, 120, 180);
    border-radius: 0 0 1vw 1vw;
    color: white;
  }
}

::ng-deep.mat-menu-content {
  padding: 0 !important;
}
