::ng-deep.mat-horizontal-stepper-header-container
{
  display: none !important;
}

::ng-deep.mat-horizontal-content-container {
  padding: 24px auto !important;
  background-color: rgb(220, 220, 220) !important;
  text-align: center !important;

  @media only screen and (min-width: 0px) and (max-width: 415px) {
    padding-top: 60px !important;
    margin-top: 0 !important;
  }

  @media only screen and (min-width: 568px) and (max-width: 750px) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  @media only screen and (min-width: 415px) and (max-width: 568px) {
  }

  .visibilityIcon {
    cursor: pointer !important;
  }

  .logTitleRegister {
    margin-top: 30px !important;
    margin-bottom: 5px !important;
    text-align: left !important;
    margin-left: 30px !important;

    @media only screen and (min-width: 0px) and (max-width: 415px) {
      margin-top: 0 !important;
      margin-left: 0px !important;
    }

    @media only screen and (min-width: 568px) and (max-width: 750px) {
      margin-top: 0 !important;
      font-size: 16px !important;
      margin-left: 10px !important;
    }

    @media only screen and (min-width: 415px) and (max-width: 568px) {
    }
  }

  .subtitle {
    color: gray !important;
    float: left !important;
    margin-left: 30px !important;
    margin-bottom: 20px !important;

    @media only screen and (min-width: 0px) and (max-width: 415px) {
      margin-left: 0px !important;
    }

    @media only screen and (min-width: 568px) and (max-width: 750px) {
      margin-left: 10px !important;
      margin-bottom: 0 !important;
    }

    @media only screen and (min-width: 415px) and (max-width: 568px) {
    }
  }

  .niceFeild {
    width: 350px !important;

    @media only screen and (min-width: 0px) and (max-width: 330px) {
      width: 280px !important;
    }

    @media only screen and (min-width: 330px) and (max-width: 380px) {
      width: 300px !important;
    }

    @media only screen and (min-width: 380px) and (max-width: 415px) {
      width: 350px !important;
    }

    @media only screen and (min-width: 568px) and (max-width: 750px) {
      width: 350px !important;
    }

    @media only screen and (min-width: 415px) and (max-width: 568px) {
    }
  }

  #mobileNumber {
    float: left !important;
    margin-left: 25px !important;
    width: 230px !important;

    @media only screen and (min-width: 0px) and (max-width: 330px) {
      margin-left: 0px !important;
      width: 160px !important;
    }

    @media only screen and (min-width: 330px) and (max-width: 415px) {
      margin-left: 10px !important;
      width: 180px !important;
    }

    @media only screen and (min-width: 568px) and (max-width: 750px) {
      width: 180px !important;
      margin-left: 10px !important;
    }

    @media only screen and (min-width: 415px) and (max-width: 568px) {
    }
  }

  #isOnWhatsApp {
    margin-top: 25px !important;

    @media only screen and (min-width: 0px) and (max-width: 415px) {
      float: inherit !important;
    }

    @media only screen and (min-width: 568px) and (max-width: 750px) {
    }

    @media only screen and (min-width: 415px) and (max-width: 568px) {
    }
  }

  #birthDate {
    width: 120px !important;
    margin-top: 18px !important;
  }

  #address {
    width: 230px !important;
    float: left !important;
    margin-left: 25px !important;

    @media only screen and (min-width: 0px) and (max-width: 330px) {
      margin-left: 10px !important;
      width: 280px !important;
    }

    @media only screen and (min-width: 330px) and (max-width: 380px) {
      margin-left: 10px !important;
      width: 300px !important;
    }

    @media only screen and (min-width: 380px) and (max-width: 415px) {
      margin-left: 10px !important;
      width: 350px !important;
    }

    @media only screen and (min-width: 568px) and (max-width: 750px) {
      width: 180px !important;
      margin-left: 10px !important;
    }

    @media only screen and (min-width: 415px) and (max-width: 568px) {
    }
  }

  .nextRight {
    float: right !important;
  }
}

