<div id="background">
  <div id="container">
    <div id="box" class="mat-elevation-z8">
      <div id="left" class="containerItem">
        <img class="logo" src="..\..\..\..\assets\image\StichwellLogoWhiteBlack.png" alt="stichwell logo" />
      </div>
      <div id="right" class="containerItem">
        <div id="upperRight">
          <router-outlet></router-outlet>
        </div>
        <div id="lowerRight">
          <small style="background-color: rgb(220, 220, 220)">StichwellTailors &copy; 2019</small>
        </div>
      </div>
    </div>
  </div>
</div>
