#background {
  width: 100% !important;
  height: 100% !important;
  text-align: center !important;
  padding: 0 !important;

  #container {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 81px auto !important;

    @media only screen and (min-width: 0px) and (max-width: 415px) {
      margin: 0 !important;
    }

    @media only screen and (min-width: 415px) and (max-width: 750px) {
      margin: 0 !important;
      padding: 0 !important;
      height: 415px !important;
    }

    #box {
      display: inline-block !important;
      padding: 0 !important;
      margin: 0 !important;
      height: 500px !important;

      @media only screen and (min-width: 0px) and (max-width: 415px) {
        display: block !important;
        height: 850px !important;
        width: 100% !important;
      }

      @media only screen and (min-width: 415px) and (max-width: 750px) {
        height: 415px !important;
        width: 100% !important;
      }

      #left {
        vertical-align: top !important;
        background-color: rgb(20, 120, 180) !important;
        display: inline-block !important;
        width: 300px !important;
        height: 500px !important;

        @media only screen and (min-width: 0px) and (max-width: 415px) {
          display: block !important;
          width: 100% !important;
          height: 325px !important;
        }

        @media only screen and (min-width: 568px) and (max-width: 750px) {
          width: 256px !important;
          height: 415px !important
        }

        @media only screen and (min-width: 415px) and (max-width: 568px) {
          width: 227px !important;
          height: 415px !important;
        }

        .logo {
          width: 200px !important;
          margin-top: 70% !important;

          @media only screen and (min-width: 0px) and (max-width: 415px) {
            width: 270px !important;
            margin-top: 28% !important;
          }

          @media only screen and (min-width: 415px) and (max-width: 750px) {
          }

          @media only screen and (min-width: 415px) and (max-width: 568px) {
          }
        }
      }

      #right {
        vertical-align: top !important;
        background-color: rgb(220, 220, 220) !important;
        display: inline-block !important;
        width: 450px !important;
        height: 500px !important;

        @media only screen and (min-width: 0px) and (max-width: 415px) {
          display: block !important;
          width: 100% !important;
          height: 525px !important;
        }

        @media only screen and (min-width: 568px) and (max-width: 750px) {
          width: 384px !important;
          height: 415px !important;
        }

        @media only screen and (min-width: 415px) and (max-width: 568px) {
          width: 341px !important;
          height: 415px !important;
        }

        #upperRight {
          vertical-align: top !important;
          background-color: rgb(220, 220, 220) !important;
          display: inline-block !important;
          width: 450px !important;
          height: 475px !important;

          @media only screen and (min-width: 0px) and (max-width: 415px) {
            display: block !important;
            width: 100% !important;
            height: 500px !important;
          }

          @media only screen and (min-width: 568px) and (max-width: 750px)
          {
            width: 384px !important;
            height: 390px !important;
          }

          @media only screen and (min-width: 415px) and (max-width: 568px)
          {
            width: 341px !important;
            height: 390px !important;
          }

          #lowerRight
          {
            vertical-align: bottom !important;
            background-color: rgb(220, 220, 220) !important;
            text-align: center !important;
            display: inline-block !important;
            width: 450px !important;
            height: 25px !important;

            @media only screen and (min-width: 0px) and (max-width: 415px)
            {
              width: 100% !important;
              height: 25px !important;
            }

            @media only screen and (min-width: 568px) and (max-width: 750px)
            {
              width: 100% !important;
            }

            @media only screen and (min-width: 415px) and (max-width: 568px)
            {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}
