<form #registerForm autocomplete="off">
  <mat-horizontal-stepper linear="true" #stepper>

    <!--Check User-->
    <mat-step id="checkUser">

      <h3 class="logTitle">Forget Password</h3>
      <small class="subtitle">Check user</small>
      <br />

      <p id="status" *ngIf="forgetPasswordStatus" style="color: red; margin-top: 17px;"><b>Something wrong try once again!</b></p>

      <mat-form-field class="niceFeild">
        <mat-label>Username</mat-label>
        <input type="text" name="uaername" matInput [(ngModel)]="forgetPasswordUsername" (keyup)="usernameAvailable()" [disabled]="makeDesable" #username="ngModel" required />
        <mat-icon *ngIf="!userNameAvailable" matSuffix>person</mat-icon>
        <mat-icon *ngIf="userNameAvailable" class="niceIcon" matSuffix>check_cricle</mat-icon>
        <mat-hint *ngIf="username.hasError('required') && username.dirty " style="color: red">username is mandatory</mat-hint>
        <mat-hint *ngIf="!username.hasError('required')&& !userNameAvailable && username.dirty " style="color: red">Username not found</mat-hint>
      </mat-form-field>
      <br />
      <br />
      <div *ngIf="makeDesable== true">
        <h3>Desabled for <span style="color: rgb(20, 120, 180);">{{ minutes }}</span>::<span style="color: rgb(20, 120, 180);">{{ seconds }}</span></h3>
      </div>
      <div id="checkingSection" *ngIf="userNameAvailable">
        <h5 style="margin-bottom: 20px !important;">{{ forgetPasswordQuestion }}</h5>

        <mat-form-field class="niceFeild">
          <mat-label>Answer</mat-label>
          <input type="text" name="answer" matInput [(ngModel)]="forgetPasswordAnswer" [disabled]="makeDesable" required />
          <mat-icon *ngIf="isAnswerRight" class="niceIcon" matSuffix>check_cricle</mat-icon>
          <mat-hint style="font-weight: 800;"><b>You have <span style="color: rgb(20, 120, 180);">{{ count }}</span> chances</b></mat-hint>
        </mat-form-field>
        <br />
        <button id="checkAnswer" mat-raised-button [disabled]="makeDesable" (click)="checkAnswer()">Check</button>
        <br />
      </div>

      <div class="nextRight">
        <button type="button" mat-button (click)="goPreviousPage()"><b>Back</b></button>
        <button type="button" mat-button matStepperNext
                [disabled]="!forgetPasswordUsername || !forgetPasswordAnswer || !isAnswerRight"
                [style.color]="(!forgetPasswordUsername || !forgetPasswordAnswer || !isAnswerRight) ? 'gray' : 'rgb(20, 120, 180)' ">
          <b>Next</b>
        </button>
      </div>

    </mat-step>
    <mat-step>
      <h3 class="logTitle">Forget Password</h3>
      <small class="subtitle">Check user</small>
      <br />

      <mat-form-field class="niceFeild">
        <mat-label>Password</mat-label>
        <input [type]="forgetPasswordPasswordVisibility" autocomplete="off" name="password" matInput placeholder="password" [(ngModel)]="forgetPasswordPassword" #forgPassword="ngModel" required />
        <mat-icon class="visibilityIcon" *ngIf="forgetPasswordPasswordVisibility=== 'password'" (click)="changePasswordVisibility('registerPassword')" matSuffix>visibility</mat-icon>
        <mat-icon class="visibilityIcon" *ngIf="forgetPasswordPasswordVisibility=== 'text'" (click)="changePasswordVisibility('registerPassword')" matSuffix>visibility_off</mat-icon>
        <mat-hint *ngIf="forgPassword.hasError('required') && forgPassword.dirty " style="color: red">Password is mandatory</mat-hint>
      </mat-form-field>

      <br />

      <mat-form-field class="niceFeild">
        <mat-label>Re-Password</mat-label>
        <input [type]="forgetPasswordRePasswordVisibility" autocomplete="off" name="repassword" matInput placeholder="password" [(ngModel)]="forgetPasswordRePassword" #forgRePassword="ngModel" required />
        <mat-icon class="visibilityIcon" *ngIf="forgetPasswordRePasswordVisibility=== 'password'" (click)="changePasswordVisibility('registerRePassword')" matSuffix>visibility</mat-icon>
        <mat-icon class="visibilityIcon" *ngIf="forgetPasswordRePasswordVisibility=== 'text'" (click)="changePasswordVisibility('registerRePassword')" matSuffix>visibility_off</mat-icon>
        <mat-hint *ngIf="forgRePassword.hasError('required') && forgRePassword.dirty " style="color: red">Re Password is mandatory</mat-hint>
        <mat-hint *ngIf="forgetPasswordPassword!== forgetPasswordRePassword && forgRePassword.dirty" style="color: red">Password and Re Password should be same</mat-hint>
        <mat-hint *ngIf="forgetPasswordPassword=== forgetPasswordRePassword && forgRePassword.dirty" style="color: green">Password confirmed</mat-hint>
      </mat-form-field>

      <br />

      <div class="nextRight">
        <button mat-button matStepperPrevious><b>Back</b></button>
        <button type="submit" mat-raised-button (click)="chnagePassword(registerForm, stepper)"
                [disabled]="!forgetPasswordPassword ||!(forgetPasswordPassword=== forgetPasswordRePassword)"
                [style.color]="(!forgetPasswordPassword ||!(forgetPasswordPassword=== forgetPasswordRePassword)) ? 'gray' : 'rgb(20, 120, 180)' ">
          <b>Chanage Password</b>
        </button>
      </div>

    </mat-step>
  </mat-horizontal-stepper>
</form>

      <!--forgot password-->

      

      <!--forgot password-->
