#partners {
  @media only screen and (max-width: 959px) {
    padding: 10px !important;
  }

  @media only screen and (max-width: 599px) {
  }

  ::ng-deep.mat-card-content {
    ::ng-deep.mat-horizontal-stepper-header-container {
      display: none !important;
    }

    ::ng-deep.mat-horizontal-content-container {
      padding: 20px 20px !important;
      text-align: center !important;

      @media only screen and (min-width: 0px) and (max-width: 415px) {
        padding-top: 0 !important;
        margin-top: 0 !important;
      }

      @media only screen and (min-width: 568px) and (max-width: 750px) {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
      }

      @media only screen and (min-width: 415px) and (max-width: 568px) {
      }

      .visibilityIcon {
        cursor: pointer !important;
      }

      .subtitle {
        color: gray !important;
        display: block;
        text-align: left !important;
        margin-bottom: 60px !important;

        @media only screen and (min-width: 0px) and (max-width: 415px) {
          margin-bottom: 40px !important;
        }

        @media only screen and (min-width: 568px) and (max-width: 750px) {
        }

        @media only screen and (min-width: 415px) and (max-width: 568px) {
        }
      }

      #name {
        width: 500px !important;

        @media only screen and (min-width: 0px) and (max-width: 330px) {
          width: 250px !important;
        }

        @media only screen and (min-width: 330px) and (max-width: 380px) {
          width: 280px !important;
        }

        @media only screen and (min-width: 380px) and (max-width: 415px) {
          width: 320px !important;
        }

        @media only screen and (min-width: 415px) and (max-width: 570px) {
          width: 450px !important;
        }

        @media only screen and (min-width: 570px) and (max-width: 650px) {
        }

        @media only screen and (min-width: 650px) and (max-width: 770px) {
        }

        @media only screen and (min-width: 750px) and (max-width: 1200px) {
        }
      }

      #email {
        width: 500px !important;
        margin-left: 20px !important;

        @media only screen and (min-width: 0px) and (max-width: 330px) {
          width: 250px !important;
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 330px) and (max-width: 380px) {
          width: 280px !important;
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 380px) and (max-width: 415px) {
          width: 320px !important;
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 415px) and (max-width: 570px) {
          width: 450px !important;
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 570px) and (max-width: 650px) {
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 650px) and (max-width: 770px) {
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 750px) and (max-width: 1200px) {
          margin-left: 0 !important;
        }
      }

      #mobileNumber {
        width: 500px !important;
        float: left !important;
        margin-left: 7% !important;

        @media only screen and (min-width: 0px) and (max-width: 330px) {
          width: 250px !important;
          float: none !important;
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 330px) and (max-width: 380px) {
          width: 280px !important;
          float: none !important;
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 380px) and (max-width: 415px) {
          width: 320px !important;
          float: none !important;
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 415px) and (max-width: 570px) {
          width: 350px !important;
          float: none !important;
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 570px) and (max-width: 650px) {
          width: 400px !important;
          float: none !important;
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 650px) and (max-width: 770px) {
          width: 400px !important;
          float: none !important;
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 770px) and (max-width: 1200px) {
          width: 400px !important;
          float: none !important;
          margin-left: 0 !important;
        }
      }

      .isOnWhatsApp {
        margin-top: 15px !important;
        display: inline-block;
        margin-left: 20px !important;
        float: left !important;

        @media only screen and (min-width: 0px) and (max-width: 330px) {
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 330px) and (max-width: 380px) {
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 380px) and (max-width: 415px) {
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 415px) and (max-width: 570px) {
          margin-left: 10px !important;
          float: none !important;
        }

        @media only screen and (min-width: 570px) and (max-width: 650px) {
          margin-left: 10px !important;
          float: none !important;
        }

        @media only screen and (min-width: 650px) and (max-width: 770px) {
          margin-left: 10px !important;
          float: none !important;
        }

        @media only screen and (min-width: 770px) and (max-width: 1200px) {
          float: none !important;
        }
      }

      #birthDate {
        width: 120px !important;
        margin-top: 15px !important;
        margin-left: 20px !important;
        float: left !important;

        @media only screen and (min-width: 0px) and (max-width: 330px) {
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 330px) and (max-width: 380px) {
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 380px) and (max-width: 415px) {
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 415px) and (max-width: 570px) {
          width: 90px !important;
          margin-left: 10px !important;
          float: none !important;
        }

        @media only screen and (min-width: 570px) and (max-width: 650px) {
          width: 90px !important;
          margin-left: 10px !important;
          float: none !important;
        }

        @media only screen and (min-width: 650px) and (max-width: 770px) {
          width: 90px !important;
          margin-left: 10px !important;
          float: none !important;
        }

        @media only screen and (min-width: 770px) and (max-width: 1200px) {
          width: 90px !important;
          float: none !important;
        }
      }

      #address {
        width: 500px !important;
        float: left !important;
        margin-left: 7% !important;
        //Mobile
        @media only screen and (min-width: 0px) and (max-width: 330px) {
          width: 250px !important;
          float: none !important;
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 330px) and (max-width: 380px) {
          width: 280px !important;
          float: none !important;
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 380px) and (max-width: 415px) {
          width: 320px !important;
          float: none !important;
          margin-left: 0 !important;
        }
        //Tablets
        @media only screen and (min-width: 415px) and (max-width: 570px) {
          width: 350px !important;
          float: none !important;
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 570px) and (max-width: 650px) {
          width: 400px !important;
          float: none !important;
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 650px) and (max-width: 770px) {
          width: 400px !important;
          float: none !important;
          margin-left: 0 !important;
        }

        @media only screen and (min-width: 770px) and (max-width: 1200px) {
          width: 400px !important;
          float: none !important;
          margin-left: 0 !important;
        }
      }

      .nextRight {
        float: right !important;
      }

      #organizational {
        text-align: center !important;

        #shop {
          width: 500px !important;
          //Mobile
          @media only screen and (min-width: 0px) and (max-width: 330px) {
            width: 230px !important;
          }

          @media only screen and (min-width: 330px) and (max-width: 380px) {
            width: 280px !important;
          }

          @media only screen and (min-width: 380px) and (max-width: 415px) {
            width: 320px !important;
          }
          //Tablets
          @media only screen and (min-width: 415px) and (max-width: 570px) {
          }

          @media only screen and (min-width: 570px) and (max-width: 650px) {
          }

          @media only screen and (min-width: 650px) and (max-width: 770px) {
          }

          @media only screen and (min-width: 770px) and (max-width: 1200px) {
          }
        }

        #UserType {
          width: 500px !important;
          margin-left: 20px !important;
          //Mobile
          @media only screen and (min-width: 0px) and (max-width: 330px) {
            margin-left: 0 !important;
            width: 230px !important;
          }

          @media only screen and (min-width: 330px) and (max-width: 380px) {
            margin-left: 0 !important;
            width: 280px !important;
          }

          @media only screen and (min-width: 380px) and (max-width: 415px) {
            margin-left: 0 !important;
            width: 320px !important;
          }
          //Tablets
          @media only screen and (min-width: 415px) and (max-width: 570px) {
            margin-left: 0 !important;
          }

          @media only screen and (min-width: 570px) and (max-width: 650px) {
            margin-left: 0 !important;
          }

          @media only screen and (min-width: 650px) and (max-width: 770px) {
            margin-left: 0 !important;
          }

          @media only screen and (min-width: 770px) and (max-width: 1200px) {
            margin-left: 0 !important;
          }
        }

        #question {
          width: 500px !important;
          //Mobile
          @media only screen and (min-width: 0px) and (max-width: 330px) {
            width: 230px !important;
          }

          @media only screen and (min-width: 330px) and (max-width: 380px) {
            width: 280px !important;
          }

          @media only screen and (min-width: 380px) and (max-width: 415px) {
            width: 320px !important;
          }
          //Tablets
          @media only screen and (min-width: 415px) and (max-width: 570px) {
          }

          @media only screen and (min-width: 570px) and (max-width: 650px) {
          }

          @media only screen and (min-width: 650px) and (max-width: 770px) {
          }

          @media only screen and (min-width: 770px) and (max-width: 1200px) {
          }
        }

        #registerAnswer {
          width: 500px !important;
          margin-left: 20px !important;
          //Mobile
          @media only screen and (min-width: 0px) and (max-width: 330px) {
            margin-left: 0 !important;
            width: 230px !important;
          }

          @media only screen and (min-width: 330px) and (max-width: 380px) {
            margin-left: 0 !important;
            width: 280px !important;
          }

          @media only screen and (min-width: 380px) and (max-width: 415px) {
            margin-left: 0 !important;
            width: 320px !important;
          }
          //Tablets
          @media only screen and (min-width: 415px) and (max-width: 570px) {
            margin-left: 0 !important;
          }

          @media only screen and (min-width: 570px) and (max-width: 650px) {
            margin-left: 0 !important;
          }

          @media only screen and (min-width: 650px) and (max-width: 770px) {
            margin-left: 0 !important;
          }

          @media only screen and (min-width: 770px) and (max-width: 1200px) {
            margin-left: 0 !important;
          }
        }
      }

      .temp {
        //Mobile
        @media only screen and (min-width: 0px) and (max-width: 330px) {
          display: none !important;
        }

        @media only screen and (min-width: 330px) and (max-width: 380px) {
          display: none !important;
        }

        @media only screen and (min-width: 380px) and (max-width: 415px) {
          display: none !important;
        }
        //Tablets
        @media only screen and (min-width: 415px) and (max-width: 570px) {
          display: none !important;
        }

        @media only screen and (min-width: 570px) and (max-width: 650px) {
          display: none !important;
        }

        @media only screen and (min-width: 650px) and (max-width: 770px) {
          display: none !important;
        }

        @media only screen and (min-width: 770px) and (max-width: 1200px) {
          display: none !important;
        }
      }

      #regi {
        text-align: center !important;

        #registerUsername {
          width: 500px !important;
          //Mobile
          @media only screen and (min-width: 0px) and (max-width: 330px) {
            width: 230px !important;
          }

          @media only screen and (min-width: 330px) and (max-width: 380px) {
            width: 280px !important;
          }

          @media only screen and (min-width: 380px) and (max-width: 415px) {
            width: 320px !important;
          }
          //Tablets
          @media only screen and (min-width: 415px) and (max-width: 570px) {
          }

          @media only screen and (min-width: 570px) and (max-width: 650px) {
          }

          @media only screen and (min-width: 650px) and (max-width: 770px) {
          }

          @media only screen and (min-width: 770px) and (max-width: 1200px) {
          }
        }

        #registerPassword {
          width: 500px !important;
          //Mobile
          @media only screen and (min-width: 0px) and (max-width: 330px) {
            width: 230px !important;
          }

          @media only screen and (min-width: 330px) and (max-width: 380px) {
            width: 280px !important;
          }

          @media only screen and (min-width: 380px) and (max-width: 415px) {
            width: 320px !important;
          }
          //Tablets
          @media only screen and (min-width: 415px) and (max-width: 570px) {
          }

          @media only screen and (min-width: 570px) and (max-width: 650px) {
          }

          @media only screen and (min-width: 650px) and (max-width: 770px) {
          }

          @media only screen and (min-width: 770px) and (max-width: 1200px) {
          }
        }

        #registerRePassword {
          width: 500px !important;
          //Mobile
          @media only screen and (min-width: 0px) and (max-width: 330px) {
            width: 230px !important;
          }

          @media only screen and (min-width: 330px) and (max-width: 380px) {
            width: 280px !important;
          }

          @media only screen and (min-width: 380px) and (max-width: 415px) {
            width: 320px !important;
          }
          //Tablets
          @media only screen and (min-width: 415px) and (max-width: 570px) {
          }

          @media only screen and (min-width: 570px) and (max-width: 650px) {
          }

          @media only screen and (min-width: 650px) and (max-width: 770px) {
          }

          @media only screen and (min-width: 770px) and (max-width: 1200px) {
          }
        }
      }
    }
  }
}
